/* All animations will take twice as long to finish */
:root {
    --animate-duration: 1s;
    --animate-delay: .5s;
}

/* Only this element will take half the time to finish */
.my-element {
    --animate-duration: 0.5s;
}

.animate__animated {
    --animate-delay: .5s;
}

.animate-delay.in-view {
    animation: fadeInUp .5s;
}