/* All animations will take twice as long to finish */
:root {
    --animate-duration: 1s;
    --animate-delay: .5s;
}


.animate__animated {
    --animate-delay: .5s;
}

.animate__fadeInUp,
.animate__fadeInDown,
.animate__fadeInLeft,
.animate__fadeInRight {
    animation: unset;
}

.animation-reveal.animation-active {
    .animate__fadeInUp {
        animation: fadeInUp .5s;
    }

    .animate__fadeInDown {
        animation: fadeInDown .5s;
    }

    .animate__fadeInLeft {
        animation: fadeInLeft .5s;
    }

    .animate__fadeInRight {
        animation: fadeInRight .5s;
    }
}