/* All animations will take twice as long to finish */
:root {
    --animate-duration: .7s;
    --animate-delay: .7s;
}


.animate__animated {
    --animate-delay: .7s;
}

.animate__fadeInUp,
.animate__fadeInDown,
.animate__fadeInLeft,
.animate__fadeInRight,
.animate__fadeIn {
    animation: unset;
    opacity: 0;
}

.animation-reveal.animation-active {
    .animate__fadeInUp {
        animation: fadeInUp .7s;
        opacity: 1;
    }

    .animate__fadeInDown {
        animation: fadeInDown .7s;
        opacity: 1;
    }

    .animate__fadeInLeft {
        animation: fadeInLeft .7s;
        opacity: 1;
    }

    .animate__fadeInRight {
        animation: fadeInRight .7s;
        opacity: 1;
    }

    .animate__fadeIn {
        animation: fadeIn .7s;
        opacity: 1;
    }
}

.prices .animation-reveal.animation-active {
    .animate__fadeInUp-2 {
        animation: fadeInUp .8s;
    }

    .animate__fadeInUp-3 {
        animation: fadeInUp .9s;
    }
}

.animations-hero {
    .animate__fadeInUp {
        animation: fadeInUp .7s;
        opacity: 1;
    }

    .animate__fadeInDown {
        animation: fadeInDown .7s;
        opacity: 1;
    }

    .animate__fadeInLeft {
        animation: fadeInLeft .7s;
        opacity: 1;
    }

    .animate__fadeInRight {
        animation: fadeInRight .7s;
        opacity: 1;
    }

    .animate__fadeInLeft-2 {
        animation: fadeInLeft .8s;
        opacity: 1;
    }

    .animate__fadeInUp-2 {
        animation: fadeInUp .8s;
        opacity: 1;
    }
}

.main-footer .animation-reveal.animation-active {
    .animate__fadeInUp-2 {
        animation: fadeInUp .8s;
        opacity: 1;
    }

    .animate__fadeInUp-3 {
        animation: fadeInUp .9s;
        opacity: 1;
    }

    .animate__fadeInUp-4 {
        animation: fadeInUp 1s;
        opacity: 1;
    }

    .animate__fadeInUp-5 {
        animation: fadeInUp 1.1s;
        opacity: 1;
    }

    .animate__fadeInUp-6 {
        animation: fadeInUp 1.2s;
        opacity: 1;
    }
}