.form__label {
    display: none;
}

.form__title {
    color: var(--white-color);
    text-align: start;
    font-size: var(--font-size-md);
    margin-bottom: var(--space-xl);
}

.form__field {
    display: block;
    margin-bottom: var(--space-l);
    text-transform: capitalize;
    border: 0;
    padding: var(--space-md) var(--space-xl);
    width: 100%;
    box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);
    border-radius: 30px;
    background-color: var(--white-color);

    @media (max-width: 992px) {
        font-size: var(--font-size-md);
    }

    &::placeholder {
        color: var(--dark-gray-color);
    }
}

.dark-mode {
    .form__field {
        color: var(--secondary-color);

        &::placeholder {
            color: var(--secondary-color);
        }
    }
}