.container-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "one two three four four"
        "five two six four four"
        "five seven seven eight ten"
        "five seven seven nine nine"
        "eleven eleven twelve nine nine";
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.ten {
    grid-area: ten;
}

.eleven {
    grid-area: eleven;
}

.twelve {
    grid-area: twelve;
}

.container-gallery__overlay {
    opacity: 0;
    visibility: hidden;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: 0 50%;
    transition: all .4s cubic-bezier(.535, .005, 0, 1) .2s;
    transform: scaleX(0);
    transform-origin: 0 50%;
}

.container-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-gallery__item {
    position: relative;

    &:hover {
        .container-gallery__overlay {
            display: block;
            opacity: 1;
            visibility: visible;
            transition: all .4s cubic-bezier(.535, .005, 0, 1) .1s;
            transform: scaleX(1);
        }
    }
}