.hero {
    padding: var(--space-4xl) var(--space-none);

    @media (max-width: 992px) {
        text-align: center;
    }
}

.hero__title {
    font-size: var(--font-size-4xl);
    text-transform: capitalize;
    margin-bottom: var(--space-xl);
    font-weight: bold;
    color: var(--secondary-color);
}

.hero__subtitle {
    font-size: var(--font-size-l);
    text-transform: capitalize;
    margin-bottom: var(--space-s);
    font-weight: 500;
    color: var(--peach-color);
}

.hero__description {
    font-size: var(--font-size-s);
    text-transform: capitalize;
    margin-bottom: var(--space-xxl);
    color: var(--secondary-color);
}

.hero__image {
    width: 100%;
    height: 100%;
    padding-top: var(--space-md);
    border-radius: 100%;
    background: var(--gradiant-color);
}