.icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;

    &--facebook {
        background-color: #1877F2;
        fill: #fff;

        &:hover {
            fill: #1877F2;
            background-color: #fff;
        }
    }

    &--twitter {
        fill: #fff;
        background-color: #1BA8FF;

        &:hover {
            fill: #1BA8FF;
            background-color: #fff;
        }
    }

    &--linkedin {
        fill: #fff;
        background-color: #018AD2;

        &:hover {
            fill: #018AD2;
            background-color: #fff;
        }
    }

    &--Whatsapp {
        fill: #fff;
        background-color: #1BD741;

        &:hover {
            fill: #1BD741;
            background-color: #fff;
        }
    }

    &--instagram {
        fill: #fff;
        background: linear-gradient(220deg, rgb(240, 44, 125), #FA6D37);

        &:hover {
            fill: #f02c7d;
            background: #fff;
        }
    }

    &--tiktok {
        fill: #fff;
        background-color: #000;

        &:hover {
            fill: #000;
            background-color: #fff;
        }
    }
}