.numbers__content {
    text-align: center;
    border-radius: 100%;
    padding: var(--space-md);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);

    &--gold {
        background-color: var(--gold-color);
    }

    &--peach {
        background-color: var(--peach-color);
    }

    &--dark {
        background-color: var(--dark-gray-color);
    }

    &--green {
        background-color: var(--green-color);
    }
}

.numbers__title {
    font-size: var(--font-size-l);
    margin-bottom: var(--space-none);
    color: var(--white-color);
}

.numbers__subtitle {
    font-size: var(--font-size-4xl);
    margin-bottom: var(--space-md);
    color: var(--white-color);
}