.numbers__content {
    padding: var(--space-xxxl) var(--space-l);
    text-align: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);

    @media (max-width: 767.98px) {
        padding: var(--space-xl);
    }

    &--gold {
        background-color: var(--gold-color);
    }

    &--peach {
        background-color: var(--peach-color);
    }

    &--dark {
        background-color: var(--dark-gray-color);
    }

    &--green {
        background-color: var(--green-color);
    }
}

.numbers__title {
    font-size: var(--font-size-l);
    margin-bottom: var(--space-none);
    color: var(--white-color);
}

.numbers__subtitle {
    font-size: var(--font-size-4xl);
    margin-bottom: var(--space-md);
    color: var(--white-color);

    @media (max-width: 767.98px) {
        font-size: var(--font-size-xl);
        margin-bottom: var(--space-s);
    }
}

.numbers__icon {
    width: 100px;
    height: 100px;
    margin-bottom: var(--space-md);
    fill: var(--white-color);

    @media (max-width: 767.98px) {
        width: 80px;
        height: 80px;
        margin-bottom: var(--space-s);
    }
}