.partners {
    width: 100%;
    height: 100px;

    @media (max-width: 992px) {
        height: 70px;
    }

    &:hover {
        transform: scale(1.15);
        transition: 0.3s;
    }
}

.partners__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.partners__title {
    color: var(--secondary-color);
    text-transform: capitalize;
    margin-top: var(--space-md);
    margin-bottom: var(--space-none);
}