.partners {
    width: 100%;
    height: 100px;

    &:hover {
        transform: scale(1.3);
        transition: 0.3s;
    }
}

.partners__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}