::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 4px;
    background-color: var(--gray-light);

    @media (max-width: 992px) {
        width: 4px;
    }
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--peach-color);

    @media (max-width: 992px) {
        background-color: var(--secondary-color);
    }
}

.dark-mode {

    ::-webkit-scrollbar-thumb {
        @media (max-width: 992px) {
            background-color: var(--primary-color);
        }
    }
}