/* Start Nav Styles */
.navbar {
    position: fixed;
    z-index: 9;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);

    @media (max-width: 767.98px) {
        display: none;
    }
}

.navbar .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar .nav-menu li {
    position: relative;
    min-width: 200px;
    text-align: right;
}

.navbar .nav-menu li .dot {
    display: block;
    color: var(--white-color);
    padding: 5px 0;
}

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 50%;
    transition: all .3s ease;
}

.navbar .nav-menu li .dot::before {
    width: 10px;
    height: 10px;
    right: 0;
    border: 2px solid var(--secondary-color);
    transform: translateY(-50%);
}

.navbar .nav-menu li .dot::after {
    width: 20px;
    height: 20px;
    border: 2px solid var(--peach-color);
    right: -5px;
    transform: translateY(-50%) scale(0);
}

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
    background: var(--peach-color);
    border-color: var(--peach-color);
}

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}

.navbar .nav-menu li .dot span {
    display: inline-block;
    opacity: 0;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: capitalize;
    background-color: var(--peach-color);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);
    margin-right: 30px;
    transform: translateX(20px);
    transition: all .3s ease;
}

.navbar .nav-menu li .dot span::before {
    display: block;
    position: absolute;
    content: '';
    border-left: 7px solid var(--peach-color);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 50%;
    transform: translate(7px, -50%);
    right: 0;
    transition: all .3s ease;
}

.navbar .nav-menu li .dot.active span,
.navbar .nav-menu li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}

.dark-mode {
    .navbar .nav-menu li .dot {
        color: var(--secondary-color);
    }
}