.swiper-slide {
    padding-inline-end: var(--space-4xl);
}

.swiper__content {
    width: 80%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    padding: var(--space-5xl) var(--space-none);

    .swiper-pagination-bullet {
        width: 40px;
        height: 10px;
        border-radius: 6px;
    }

    .swiper-pagination-bullet-active {
        width: 80px;
        background-color: var(--primary-color);
    }

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 40%;
    }
}

.swiper__title {
    font-size: var(--font-size-4xl);
    text-transform: capitalize;
    margin-bottom: var(--space-xl);
    font-weight: bold;
}

.swiper__subtitle {
    font-size: var(--font-size-l);
    text-transform: capitalize;
    margin-bottom: var(--space-s);
    font-weight: 500;
}

.swiper__description {
    font-size: var(--font-size-m);
    text-transform: capitalize;
    margin-bottom: var(--space-xxl);
}

.swiper__image {
    width: 500px;
    height: 500px;
    padding-top: var(--space-md);
    border-radius: 500px;
    background-color: var(--primary-color);
}