/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: var(--space-s) var(--space-xxl);
    border-radius: 30px;
    border: 1px solid transparent;
    transition: 0.3s;
    font-size: 16px;
    color: var(--secondary-color);
    margin: var(--space-none) var(--space-xs);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--primary-color);
    ;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: var(--space-xxxl) var(--space-none);
    border-top: none;
}