.main-footer {
    background-color: var(--primary-color);
    padding: var(--space-4xl) var(--space-none);
    align-items: start;

    @media (max-width: 992px) {
        text-align: center;
    }
}

.main-footer__nav {
    list-style: none;
    padding: var(--space-none);
    margin-bottom: var(--space-none);
}

.main-footer__container {
    display: flex;
    justify-content: space-between
}

.main-footer__nav-item {
    margin-bottom: var(--space-s);
}

.main-footer__nav-link {
    font-size: var(--font-size-s);
    color: var(--white-color);
    text-decoration: none;
    position: relative;

    @media (max-width: 992px) {
        font-size: var(--font-size-md);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--link-color);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        border-radius: 100px;
    }
}

.main-footer__nav-link:hover::after,
.main-footer__nav-link:focus::after {
    opacity: 1;
    transform: translate3d(10%, 0, 0);
}

.main-footer__copy-rights {
    font-size: var(--font-size-s);
    color: var(--white-color);
    text-align: center;
}

.main-footer__end {
    display: flex;
    justify-content: space-between;
}

.main-footer__start {
    @media (max-width: 992px) {
        display: flex;
        justify-content: center;
    }
}

.main-footer__start nav {
    width: 100%;
}

.main-footer__logo {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: var(--space-none);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: fit-content;

    span {
        margin-left: var(--space-s);
        margin-right: var(--space-xxs);
        font-size: var(--font-size-xl);
    }

    &:after {
        content: '.';
        color: var(--secondary-color);
    }

    &:hover {
        color: var(--white-color);
    }
}

.main-footer {

    .main-footer__divider {
        background: var(--white-color);
        height: 3px;
        border-radius: 20px;
        opacity: .7;
    }
}

.main-footer__title {
    font-size: var(--font-size-l);
    color: var(--white-color);
    margin-bottom: var(--space-md);
    text-transform: capitalize;
}

.main-footer__field {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: var(--space-s) var(--space-md);
    width: 100%;
    margin-bottom: var(--space-md);
    outline: none;

    @media (max-width: 992px) {
        margin-bottom: var(--space-md);
        height: 60px;
        font-size: var(--font-size-md);
    }

    &:hover,
    :focus {
        border-color: var(--link-color);
        transition: 0.3s;
    }
}

.main-footer__icon {
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: flex;
    margin: auto;

    @media (max-width: 992px) {
        width: 26px;
        height: 26px;
    }
}

.main-footer__end {
    margin-top: var(--space-md);

    .icon {
        display: flex;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100px;
        border: 1px solid var(--white-color);

        @media (max-width: 992px) {
            width: 45px;
            height: 45px;
            line-height: 45px;
        }

        &:hover {
            transition: 0.3s;
        }
    }
}

.dark-mode {

    .icon {
        border-color: #fff;
    }

    .main-footer__nav-link:hover {
        color: var(--secondary-color);
    }

    .main-footer__end .icon:hover {
        border-color: var(--secondary-color);
    }

    .main-footer {
        .button--secondary {
            background-color: #000;
            color: #fff;
        }
    }

    .main-footer__field {
        background-color: #000;
        color: #fff;

        &::placeholder {
            color: #fff;
        }
    }
}

.main-footer__logo-icon {
    width: 70px;
    height: 70px;
}

.main-footer__link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    margin-top: var(--space-md);

    &:hover {
        color: var(--secondary-color);

        .main-footer__link-icon {
            fill: var(--secondary-color);
        }

        path {
            fill: var(--secondary-color);
        }
    }
}

.main-footer__link-icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    margin-right: var(--space-xs);

    path {
        fill: var(--white-color);
        stroke: none;
    }
}