.main-footer {
    background-color: var(--primary-color);
    padding: var(--space-4xl) var(--space-none);
    align-items: start;
}

.main-footer__nav {
    list-style: none;
    padding: var(--space-none);
    margin-bottom: var(--space-none);
}

.main-footer__container {
    display: flex;
    justify-content: space-between
}

.main-footer__nav-item {
    margin-bottom: var(--space-s);
}

.main-footer__nav-link {
    font-size: var(--font-size-s);
    color: var(--white-color);
    text-decoration: none;
    position: relative;

    @media (max-width: 767.98px) {
        font-size: var(--font-size-md);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--link-color);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        border-radius: 100px;
    }
}

.main-footer__nav-link:hover::after,
.main-footer__nav-link:focus::after {
    opacity: 1;
    transform: translate3d(10%, 0, 0);
}

.main-footer__copy-rights {
    font-size: var(--font-size-s);
    font-weight: var(--font-regular);
    color: var(--white-color);
    display: flex;
    margin: auto;
    justify-content: center;
}

.main-footer__end {
    display: flex;
    justify-content: space-between;
}

.main-footer__start nav {
    width: 100%;
}

.main-footer__logo {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: var(--space-none);
    text-transform: uppercase;
    display: flex;
    align-items: center;

    span {
        margin: var(--space-none) var(--space-s);
    }

    &:after {
        content: '.';
        color: var(--secondary-color);
    }

    &:hover {
        color: var(--white-color);
    }
}

.main-footer__divider {
    background: var(--white-color);
    opacity: .7;
}

.main-footer__title {
    font-size: var(--font-size-l);
    color: var(--white-color);
    margin-bottom: var(--space-s);
    text-transform: capitalize;
}

.main-footer__field {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: var(--space-s) var(--space-md);
    width: 100%;
    margin-bottom: var(--space-s);
    outline: none;

    @media (max-width: 767.98px) {
        margin-bottom: var(--space-md);
    }

    &:hover,
    :focus {
        border-color: var(--link-color);
        transition: 0.3s;
    }
}

.main-footer__icon {
    fill: var(--white-color);
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: flex;
    margin: auto;

    @media (max-width: 767.98px) {
        width: 26px;
        height: 26px;
    }
}

.main-footer__end {
    margin-top: var(--space-s);

    @media (max-width: 767.98px) {
        margin-top: var(--space-md);
    }

    .icon {
        display: flex;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100px;
        border: 1px solid var(--white-color);

        @media (max-width: 767.98px) {
            width: 45px;
            height: 45px;
            line-height: 45px;
        }

        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
}

.dark-mode {

    .icon {
        border-color: #fff;
    }

    .main-footer__icon {
        fill: #fff;
    }

    .main-footer__nav-link:hover {
        color: var(--secondary-color);
    }

    .main-footer__end .icon:hover {
        border-color: var(--secondary-color);
    }
}

.main-footer__logo-icon {
    width: 70px;
    height: 70px;
}