.full-width {
    width: 100% !important;
}

.sr-only {
    display: none !important;
}

.color-primary {
    color: var(--primary-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.color-white {
    color: var(--white-color) !important;
}

.margin-bottom-s {
    margin-bottom: var(--space-s) !important;
}

.margin-bottom-none {
    margin-bottom: var(--space-none) !important;
}

.padding-none {
    padding: var(--space-none) !important;
}

.d-block {
    display: block !important;
}