.full-width {
    width: 100%;
}

.sr-only {
    display: none;
}

.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-white {
    color: var(--white-color);
}

.margin-bottom-s {
    margin-bottom: var(--space-s);
}

.text-gradiant {
    background: -webkit-linear-gradient(#6B5BE5 25%, #be5be5 50%, #EA4C89 75%, #fe69a2 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}