.full-width {
    width: 100%;
}

.sr-only {
    display: none;
}

.color-primary {
    color: var(--primary-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-white {
    color: var(--white-color);
}

.margin-bottom-s {
    margin-bottom: var(--space-s);
}