:root {
    // colors 
    --primary-color: red;
    --secondary-color: black;
    // spaces
    --padding-none: 0;
    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-md: 16px;
    --padding-l: 20px;
    --padding-xl: 24px;
    --padding-xxl: 30px;
    --padding-xxxl: 40px;
}