@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
  color: var(--color-black);
}

:root {
  --logo-width: 200px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-l) var(--space-none);
}

.main-header__logo {
  width: var(--logo-width);
  -o-object-fit: cover;
     object-fit: cover;
}

.main-header__list {
  padding: var(--space-none);
  margin-bottom: var(--space-none);
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__list-item {
  padding: var(--space-xs) var(--space-s);
}

.main-header__list-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--link-color);
  font-size: var(--font-size-s);
}
.main-header__list-link:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.main-footer {
  background-color: var(--primary-color);
  padding: var(--space-4xl) var(--space-none);
  align-items: start;
}

.main-footer__nav {
  list-style: none;
  padding: var(--space-none);
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
}

.main-footer__nav-item {
  margin-bottom: var(--space-s);
}

.main-footer__nav-link {
  font-size: var(--font-size-s);
  font-weight: var(--font-regular);
  color: var(--white-color);
  text-decoration: none;
  padding-right: var(--space-m);
  padding-left: var(--space-s);
}

.main-footer__copy-rights {
  font-size: var(--font-size-s);
  font-weight: var(--font-regular);
  color: var(--white-color);
  display: flex;
  margin: auto;
  justify-content: center;
}

.main-footer__end {
  display: flex;
  justify-content: space-between;
}

.main-footer__start nav {
  width: 100%;
}

.main-footer__logo {
  width: 200px;
}

.main-footer__divider {
  background: var(--white-color);
  opacity: 0.7;
}

.main-footer__title {
  font-size: var(--font-size-l);
  color: var(--white-color);
  margin-bottom: var(--space-s);
  text-transform: capitalize;
}

.main-footer__field {
  border: 0;
  border-radius: 8px;
  padding: var(--space-s) var(--space-md);
  width: 100%;
  margin-bottom: var(--space-s);
}

.main-footer__icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
  margin: auto;
}

.main-footer__end {
  margin-top: var(--space-s);
}
.main-footer__end .icon {
  display: flex;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  border: 1px solid var(--white-color);
}

:root {
  --primary-color: #0093FB;
  --primary-dark-color: #0369b1;
  --secondary-color: black;
  --white-color: #fff;
  --link-color: #000;
  --gray-light: #efefef;
  --space-none: 0;
  --space-xs: 6px;
  --space-s: 10px;
  --space-md: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 30px;
  --space-xxxl: 40px;
  --space-4xl: 48px;
  --space-5xl: 60px;
  --font-size-xs: 14px;
  --font-size-s: 18px;
  --font-size-md: 20px;
  --font-size-l: 24px;
  --font-size-xl: 30px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 42px;
  --font-size-4xl: 48px;
}

.full-width {
  width: 100%;
}

.sr-only {
  display: none;
}

.button {
  background: none;
  border: 1px solid transparent;
  padding: var(--space-s) var(--space-md);
  border-radius: 8px;
}
.button--icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: var(--space-none);
}
.button--icon:hover {
  background-color: var(--gray-light);
  border-radius: 100px;
}
.button--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.button--primary:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  border-color: var(--primary-color);
}
.button--secondary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.button--secondary:hover {
  color: var(--secondary-color);
  background-color: var(--white-color);
  border-color: var(--secondary-color);
}
.button + .button {
  -webkit-margin-start: var(--space-md);
          margin-inline-start: var(--space-md);
}
.button--block {
  display: block;
  width: 100%;
}

.theme-mode {
  width: 30px;
  height: 30px;
  display: flex;
  margin: auto;
}

.swiper-slide {
  -webkit-padding-end: var(--space-4xl);
          padding-inline-end: var(--space-4xl);
}

.swiper__content {
  width: 80%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  padding: var(--space-5xl) var(--space-none);
}
.swiper-wrapper .swiper-pagination-bullet {
  width: 40px;
  height: 10px;
  border-radius: 6px;
}
.swiper-wrapper .swiper-pagination-bullet-active {
  width: 80px;
  background-color: var(--primary-color);
}
.swiper-wrapper .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-wrapper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 40%;
}

.swiper__title {
  font-size: var(--font-size-4xl);
  text-transform: capitalize;
  margin-bottom: var(--space-xl);
  font-weight: bold;
}

.swiper__subtitle {
  font-size: var(--font-size-l);
  text-transform: capitalize;
  margin-bottom: var(--space-s);
  font-weight: 500;
}

.swiper__description {
  font-size: var(--font-size-m);
  text-transform: capitalize;
  margin-bottom: var(--space-xxl);
}

.swiper__image {
  width: 500px;
  height: 500px;
  padding-top: var(--space-md);
  border-radius: 500px;
  background-color: var(--primary-color);
}/*# sourceMappingURL=style.css.map */